.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.nav-title {
  font-weight: bold;
  font-size: 20px;
}

nav ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 600px;
}
.header {
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 20px;
}

.green {
  color: green;
  padding: 15px 30px;
  border-radius: 5px;
  border-color: #006a50;
}
.bn-2 {
  color: #0e0e0e;
  opacity: 50%;
  display: flex;
}

.btn-primary {
  background-color: #006a50;
  color: white;
  border-radius: 5px;
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: #c6e4d6;
  border-radius: 5px;
}
.banner-content {
  max-width: 622px;
  height: 326px;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero {
  width: 474.03px;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 100px 80px;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillars {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.pillar {
  padding: 15px;
  margin: 50px 35px 50px;
  border: 1px solid #b9bcbc;
  border-radius: 5px;
  outline: gray;
  box-shadow: white;
}
.vision {
  justify-content: space-between;
  margin: 50px 35px 50px;
  display: flex;
}
/* .vision-cards {
  padding: 15px;
  margin: 50px 35px 50px;
  border: 1px solid #b9bcbc;
  border-radius: 5px;
  outline: gray;
  box-shadow: white;
} */

.vision-container {
  justify-content: center;
  padding-left: 15px;
  margin: 50px;
  align-items: center;
}
.vision-cards-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 35px 50px;
}
.vision-cards-1 {
  padding: 15px;
  margin: 50px 35px 50px;
  border: 1px solid #b9bcbc;
  border-radius: 5px;
  outline: gray;
  box-shadow: white;
  background-color: #a3c3fc;
}
.btn-1 {
  background-color: #5490f5;
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
}
.vision-cards-2 {
  padding: 15px;
  margin: 50px 35px 50px;
  border: 1px solid #b9bcbc;
  border-radius: 5px;
  outline: gray;
  box-shadow: white;
  background-color: #c6e4d6;
}
.btn-2 {
  background-color: #09a15c;
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
}
.vision-cards-3 {
  padding: 15px;
  margin: 50px 35px 50px;
  border: 1px solid #b9bcbc;
  border-radius: 5px;
  outline: gray;
  box-shadow: white;
  background-color: #f7ebcf;
}
.btn-3 {
  background-color: #ffc239;
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
}

.recent {
  display: flex;
  margin: auto;
}
.recent-news-holder {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 15px;
}
.image1 {
  border-radius: 24px;
}
.satellite {
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 15px;
}
